.NavBar{
    width: 100%;
    height: auto;
}

/*hide top nav at 575 pixels or less*/
@media (max-width: 575px) {
    .NavBar{
        display: none;
    }
    }

.ToggleSideBar{

    height: 100%;
}

