.NavBar{
    width: 100%;
    height: auto;
}

/*hide top nav at 575 pixels or less*/
@media (max-width: 575px) {
    .NavBar{
        display: none;
    }
    }

.ToggleSideBar{
    display: flex;
   justify-content: space-between;
    align-items: center;
    height: 100%;
}

@media (min-width: 575px) {
    .ToggleSideBar{
        display: none;
    }
    }



