.Solution{
    
    color:white;
    
   
}
/*fade in text , also cause picture sometimes takes a second to load*/
@keyframes fadein {
  from { opacity: 0}
  to   { opacity: 1}
}


.Solution h1{
    position: absolute;
    top: 350px;
    left: 200px;
    font-weight: bold;
    animation: fadein 2s;

    
    
   /* color:white;*/

}
.Solution h4{
    position: absolute;
    top: 425px;
    left: 200px;
    font-weight: bold;
    text-align: left;
    animation: fadein 3s;
   /* color:white;*/

}






  .backgroundImage{margin-top: 125px;
    background-size :cover;
     width:100%;
      /*height:700px;*/
      /*height:10%;*/
      
    

  }
  @media(max-width:991px){

      .Solution h1{
        top: 225px;
        left: 125px;
    
    }
    .Solution h4{
        top: 300px;
        left: 125px;
    
    }

  }




  @media(max-width:655px){
    .backgroundImage{
        margin-top: 50px;
        
    
      }

      .Solution h1{
        top: 125px;
        left: 75px;
    
    }
    .Solution h4{
        top: 200px;
        left: 75px;
    
    }

  }

  @media(max-width:595px){

    .Solution h1{
        top: 125px;
        left: 75px;
    
    }
    .Solution h4{
        top: 200px;
        left: 75px;
    
    }

  }