.Phone img{
margin-top: 8px;
width:161px;
    height:25px;
}

@media(max-width:700px){
    .Phone img{
        margin-top: 8px;
        width:120px;
            height:20px;
        }

}

@media(max-width:530px){
    .Phone img{
        margin-top: 8px;
        width:110px;
            height:18px;
        }

}