.NavBar{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    border-color:orangered;
    border-width: 1px;
    border-style: solid;
}

@media(max-width:575px){
    .NavBar{
        height:50px;}

}

