.NavBar{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    border-color:	#ec1f2e;
    border-width: 1px;
    border-style: solid;
    z-index: 125;
}

@media(max-width:655px){
    .NavBar{
        height:50px;
        z-index: 50;}

}

