.ServiceInfo{
    text-align: left;

}

.ServiceInfo h6{
    /*color: orangered;*/
    color: 	#ec1f2e;
    font-weight: bold;
}

.ServiceInfo h5{
    /*color: orangered;*/
    color: 	#ec1f2e;
    font-weight: bold;
    margin-top: 15px;
}

.ServiceInfo button{
   margin-bottom: 15px;

}

.ServiceInfo button:hover{
    
   /* color: orangered;*/
   color:	#ec1f2e;
 }